/***** OVERVIEW MAP *****/

#overview-map-page #map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* index.html */
#overview-map-page html { 
	height: 100% 
}

#overview-map-page body {
	height: 100%;
	margin: 0;
	padding: 0
}

#overview-map-page #map-button-container {
	position: absolute;
	bottom: 5%;
	right: 5%;
	z-index: 1;
}

#overview-map-page .index-button {
	/* style this like jquery */
}


/***** REPORT *****/

#report-page .photo-list {

}

#report-page .photo-list img {
    display: inline;
    width: 49%;
    height: auto;
}

#report-page .footer-with-buttons {
    display: -moz-box !important;
    display: -webkit-box !important;
    display: box !important;

    -moz-box-orient: horizontal !important;
    -webkit-box-orient: horizontal !important;
    box-orient: horizontal !important;
}

#report-page .footer-with-buttons > .ui-btn {
    -moz-box-flex: 1 !important;
    -webkit-box-flex: 1 !important;
    box-flex: 1 !important;

    display: block !important;

    margin: 5px 8px;

    /*font-size: 150%;*/
}