/***** ALL *****/

.ui-content {
    min-height: 100%;
}

.error {
    background: #fdd !important;
    border-color: #f00 !important;
}

.error * {
    background: inherit;
}

#error-message-container {
    background: #fdd;
    border: #d00 solid 1px;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}
#error-message-container li {
    margin-left: 2em;
}

/* overwriting jq mobile's header handling so that titles are left justified */
.ui-header > .ui-title {
    text-align: left;
    margin-left: 1em;
}

.header-with-buttons,
.footer-with-buttons {
    display: -moz-box !important;
    display: -webkit-box !important;
    display: box !important;

    -moz-box-orient: horizontal !important;
    -webkit-box-orient: horizontal !important;
    box-orient: horizontal !important;

    padding: 0;
    padding-bottom: 3px;
    width: 100%;
}

.header-with-buttons > .ui-btn,
.footer-with-buttons > .ui-btn {
    -moz-box-flex: 1 !important;
    -webkit-box-flex: 1 !important;
    box-flex: 1 !important;

    display: block !important;

    margin: 5px 8px;

    /*font-size: 150%;*/
}

.map-button-container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.map-thumbnail {
    max-width: 100%;
}

.loading {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}




/***** OVERVIEW MAP *****/

#overview-map-page #overview-map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overview-map-page .map-button-container {
    font-size: 60%;    
}

#overview-map-page .map-popup {
    background-color: #FFFFFF;
    /* make this way nicer */
}

#overview-map-page .photo {
    float: left;
    margin-right: 3%;
    max-width: 4em;
}

#overview-map-page .owner_name {
    font-size: 130%;
}

#overview-map-page .owner_name.unknown {
    font-style: italic;
}

#overview-map-page .trunc-address {
    font-size: 80%;
}

#overview-map-page .styled-link-text {
    text-decoration: none;
    color: black;
;}


/***** REPORT *****/

#report-page .ui-checkbox {
    width: 80%;
}

#report-page .ui-checkbox label {
    width: 100%;
    text-align: center;
}


.map-thumbnail-container {
    text-align: center;
}

.map-thumbnail {
    height: auto;
}

#refine-location-page #refine-location-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}


#report-page .photo-list {

}

/*#report-page .photo-list img {
    display: inline;*/
    /*width: 49%;
    height: auto;*/
/*}*/

.photo-list-item {
    display: inline;
    width: 45%;
    padding: 1%;
    /*height: auto;*/
}

.photo-thumbnail-container  {
    text-align: center;
    /*white-space: nowrap;*/
}

#report-photos-container .ui-collapsible-content {
    text-align: center;
    /*white-space: nowrap;*/
}

#report-page .dashed-box {
    border: 3px dashed #bbb;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 6px;
    width: 90%;
    vertical-align: top;
}

#report-page .dashed-box legend {
    color: #999;
    font-size: 21px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 8%;
}

/* also used for installation-details */
.camera-details-container {
    text-align: center;
    white-space: nowrap;
}

#report-sign-details-container {
    text-align: center;
    white-space: nowrap;    
}

@media only screen and (max-device-width: 800px) {
    #report-sign-details-container {
        text-align: center;
        white-space: nowrap;
        width: 100%;
        overflow-x: hidden;
    }
}


/* making radio buttons for Sign same width */
#report-page .ui-radio .ui-btn {
    width: 120px;
    text-align: center;
}

.dropdown-label {
    /*vertical-align: 100%;*/                        /* puts it in the middle of the parent div, jquery etc */
    display: inline-block;
    /*width: 21%;*/
}


/***** INSTALLATION LIST PAGE *****/

.compliance {
    position: absolute; top:0px; bottom:0px; left:0px;
    width: 5.5%;
}

.compliance-high-color {
    background-color: #87BA1A;                  /* green */
}

.compliance-medium-color {
    background-color: #E6CC1C;                  /* amber */
}

.compliance-low-color {
    background-color: #BE1D23;                  /* red */
}

.compliance-unknown {
    background-color: white;
}

.photo-thumbnail {
    max-width: 90%;
    /*max-height: 30%;*/
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-picture {
    position: absolute; top:0px; bottom:0px; left:5.6%;
}

#installations-list-page .owner_name,
#report-selection-page .owner_name {
    font-size: 150%;
    /*font-style: bold;*/
    position: relative;
    margin-left: 5%;
}

#installations-list-page .owner_name.unknown,
#report-selection-page .owner_name.unknown {
    font-style: italic;
}

.loc_description {
    position: relative;
    margin-left: 5%;
}


/**** INSTALLATION DETAILS CONTAINER ****/

.edit-button-container {
    float: right;
    padding: 5px 5px 0px 0px;                   /* using px = bad, but since jQuery Mobile is already full of them... */
}

.compliance-banner {
    display: block;
    /*height: 3em;*/
    width: 102%;
    /*padding: 1%;    */
    margin-left: -1%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: none;
    color: white !important;
}

#installation-details-photos-container .ui-collapsible-content {
    text-align: center;
    /*white-space: nowrap;*/
}

#installation-details-page .dashed-box {
    border: 3px dashed #bbb;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 6px;
    width: 90%;
    vertical-align: top;
}

#installation-details-page .dashed-box legend {
    color: #999;
    font-size: 21px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 8%;
}

#installation-details-sign-details-container {
    text-align: center;
    white-space: nowrap;    
}

#installation-details-page .report-details-text-container {
    margin-left: 1%;
    margin-top: 1%;
}

#report-notes-container textarea {
    height: 350px;
}

#installation-details-sign-details-container textarea {
    height: 150px;
}


/**** PRIVACY COMPLIANCE ****/

#privacy-compliance-page .owner-name {
    font-weight: bold;
}

#privacy-compliance-page .unknown {
    font-style: italic;
}

#privacy-compliance-page .owner-info {
    color: black;
}


/**** PHOTO DETAILS OVERLAY ***/

/* Hiding content until modal popup */
#photo-details-content {
    display:none;
}

/* Overlay */
#simplemodal-overlay {
    background-color:#000;
    cursor:wait; /*pretty irrelevant, but why not*/
}

/* Container */
#simplemodal-container {
    height:80%;
    width:55%;
    color:#bbb;
    background-color:#333;
    border:4px solid #444;
    padding:12px;
}
#simplemodal-container a {
    color:#ddd;
}
#simplemodal-container a.modalCloseImg {
    background:url(/images/x.png) no-repeat;
    width:42px;
    height:42px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-16px;
    cursor:pointer;
}
#simplemodal-container h3 {
    color:#84b8d9;
}


#photo-details-tag-buttons .ui-btn {
    width: 105px;
    text-align: center;
}

#owner-name-suggestions {
    margin: 0;
}
