/***** ALL *****/

.ui-content {
    min-height: 100%;
}

.error {
    background: #fdd !important;
    border-color: #f00 !important;
}

.error * {
    background: inherit;
}

.footer-with-buttons {
    display: -moz-box !important;
    display: -webkit-box !important;
    display: box !important;

    -moz-box-orient: horizontal !important;
    -webkit-box-orient: horizontal !important;
    box-orient: horizontal !important;
}

.footer-with-buttons > .ui-btn {
    -moz-box-flex: 1 !important;
    -webkit-box-flex: 1 !important;
    box-flex: 1 !important;

    display: block !important;

    margin: 5px 8px;

    /*font-size: 150%;*/
}

.map-button-container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.colorMeGreen {
    color: green;
}

.colorMeRed { /* seriously?? :) */
    color: red;
}

.map-thumbnail {
    max-width: 100%;
}

.loading {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}




/***** OVERVIEW MAP *****/

#overview-map-page #overview-map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* WE NEED A SMALL FONT TO FIT THESE LATERALLY ON A PHONE SCREEN. SWITCH TO VERITCAL STACK? */
#overview-map-page .map-button-container {
    font-size: 60%;    
}


/***** REPORT *****/

#report-page .photo-list {

}

#report-page .photo-list img {
    display: inline;
    width: 49%;
    height: auto;
}

#report-page .map-thumbnail-container {
    text-align: center;
}

#report-page .map-thumbnail {
    height: auto;
}

#report-page .radio-button {
    /* TODO: set some kind of min-width here to make the buttons of equal size */
}

#report-page #report-type {
}

#report-page #report-type .ui-radio {
    width: 40%;
}

#report-page #report-type .ui-radio label {
    width: 100%;
    text-align: center;
}

#report-page #photos-container .ui-collapsible-content {
    text-align: center;
    white-space: nowrap;
}

#report-page .photo-box {
    border: 3px dashed #bbb;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 6px;
    width: 46%;
    vertical-align: top;
}

@media only screen and (max-device-width: 800px) {
    /* phone screens can't fit camera + sign box side by side 
        so we show them one above the other */

    #report-page #photos-container .ui-collapsible-content {
        white-space: normal;
        padding: 2px;
    }

    #report-page .photo-box {
        margin-bottom: 10px;
        width: 95%;
    }
}

#report-page .photo-box legend {
    color: #999;
    font-size: 21px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 8%;
}

#report-page .photo-box label {
    text-align: center;
}

#report-page .photo-box:first-child {
    margin-right: 8px;
}

/*#refine-location-page div[data-role="content"] {
    position: absolute;

}*/

#refine-location-page #refine-location-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*
#refine-location-page #refine-location-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}*/


/***** INSTALLATIONS *****/


/*#installations-page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}*/


#reports-list-page .ui-block-a {
    width: 100%;
}

#reports-list-page .ui-block-b {
    width: 25%;
}

#reports-list-page .owner_name {

}

#reports-list-page .owner_name.unknown {
    font-style: italic;
}

.photo-thumbnail {
    max-width: 90%;
    /*max-height: 30%;*/
    margin-top: 1em;
    margin-bottom: 1em;
}

#report-details-page .map-thumbnail {
    max-width: 75%;
    /*float: right;*/
}

#report-details-page .report-details-text-container {
    margin-left: 1%;
    margin-top: 1%;
}

#report-details-page .compliance {
    margin-left: 1%;
}

/* ask Matt about cascading here */
#report-details-page .ui-block-a {
    width: 75%;
}

#report-details-page .ui-block-b {
    width: 25%;
}

#report-details-page .ui-grid-a {
    clear: right;
}


